* {
  box-sizing: border-box;
}

body, html {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #111;
  color: #fff;
}

p {
  margin: 0px;
  padding: 0px;
}

.bodyCopy {
  margin-bottom: 20px;
}

.parentDemo {
  background-color: #ff0072;
  text-align: center;
}

.childDemo {
  display: inline-block;
  background-color: #0000ff;
  padding: 20px;
  border: 10px solid gold;
  vertical-align: top;
}
